a {
	text-decoration: none;
}
section, header, footer {
	display: flex; align-items: center;
}
.post-front-list {
	margin-bottom: 3rem;
	padding: 0;
	margin-top: 2rem;
}
.post-front-list:after {
	clear: both;
	display: block;
	content: '';
}

.post-front {
	box-sizing: border-box;
	padding: 29px 39px 12px;
	background: #fff;
	color: #c0c7cc;
	font-size: 16px;
	line-height: 190%;
	float: left;
	width: 25%;
	border-top: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	min-height: 253px;
	position: relative;
	-o-transition: transform 0.3s ease-in;
	-moz-transition: transform 0.3s ease-in;
	-webkit-transition: transform 0.3s ease-in;
	transition: transform 0.3s ease-in;
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.post-front:hover {
	z-index: 2;
	border: none;
	-o-transform: scale(1.07);
	-ms-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-webkit-transform: scale(1.07);
	transform: scale(1.07);
	-o-transition: transform 0.3s ease-in;
	-moz-transition: transform 0.3s ease-in;
	-webkit-transition: transform 0.3s ease-in;
	transition: transform 0.3s ease-in;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.09);
}
.post-front:nth-child(4n+1) {
	clear: left;
}
.post-front:nth-child(4n) {
	border-right: none;
}
.post-front:nth-child(1),
.post-front:nth-child(2),
.post-front:nth-child(3),
.post-front:nth-child(4) {
	border-top: none;
}
.post-front .post-front-sect {
	color: #00a8cd;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	border-bottom: 1px solid transparent;
	margin: 0 0 8px;
	display: inline-block;
}
.post-front .post-front-sect:hover {
	border-color: #00a8cd;
}
.post-front h3 {
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 9px;
}
.post-front h3 a {
	color: #234655;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	line-height: 135%;
}
.post-front h3 a:hover {
    color: #0057ce;
}
.post-front p {
	line-height: 190%;
}
.post-front-link {
    margin: 0 0 45px;
    position: relative;
    text-align: center;
    padding: 0;
    display: block;
}
.post-front-link a {
    padding: 44px 0 0px;
    display: inline-block;
    position: relative;
    font-size: 13px;
    color: #f6b88c;
    font-weight: 700;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}
.post-front-link a:after {
    position: absolute;
    width: 2px;
    height: 29px;
    content: '';
    display: block;
    top: 0;
    left: 50%;
    margin: 0 0 0 -1px;
    background: #f6b88c;
}
.post-front-link a:hover {
	border-color: #f6b88c;
}

.text.raul {
	color: #00A5CC;
}
.highlight.raul {
	background: #00A5CC; color: #fff;
}

.link-1.raul:after {
    background: #B0F4F5;
}

.icon-github:before { content: '\e82a'; }

.link-2.raul:before, .link-2.raul:after {
    background: #54a9d0;
}

.button.raul {
    border-color: #8febec;
    color: #8febec;
}
.button.raul:after {
    background: #8febec;
}

.post-front .button {
    margin-right: 0px;
}

footer .content {
    padding-top: 3em;
    padding-bottom: 1.5em;
}

@media only screen and (max-width : 1600px) {
	.cont.project-front-sections-wrap {
		width: 970px;
	}
	.cont.front {
		width: 970px;
	}

	.post-front {
		width: 33.33333%;
	}
	.post-front:nth-child(4n+1) {
		clear: none;
	}
	.post-front:nth-child(3n+1) {
		clear: left;
	}
	.post-front:nth-child(4n) {
		border-right: 1px solid #f1f1f1;
	}
	.post-front:nth-child(3n) {
		border-right: none;
	}
	.post-front:nth-child(4) {
		border-top: 1px solid #f1f1f1;
	}
	.project-front .project-front-cont h3 {
		font-size: 20px;
		line-height: 1.2;
	}

	.cont.blog-sections-wrap {
		width: 970px;
	}
	.cont.blog-list {
		width: 970px;
	}

}

@media only screen and (max-width : 1370px) {
	.cont.project-front-sections-wrap {
		width: 750px;
		margin: auto;
	}
	.cont.front {
		width: 750px;
		margin: auto;
	}
	.post-front {
		width: 50%;
	}
	.post-front:nth-child(3n+1) {
		clear: none;
	}
	.post-front:nth-child(2n+1) {
		clear: left;
	}
	.post-front:nth-child(3n) {
		border-right: 1px solid #f1f1f1;
	}
	.post-front:nth-child(2n) {
		border-right: none;
	}
	.post-front:nth-child(3) {
		border-top: 1px solid #f1f1f1;
	}
	.project-front .project-front-cont h3 {
		font-size: 18px;
	}

	.cont.blog-sections-wrap {
		width: 750px;
	}
	.cont.blog-list {
		width: 750px;
	}

}